$primary-color: #F6F6F6;
$secondary-color: #FF9C00;
$highlight-color:#1C105A;
$text-color: #0E0A19;
$accent-color:#CBCAE9;
$show-home-image: true;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
