// Widescreens
@include mediaXl {
	#work {
		.projects p {
			font-size: 1.25rem;
		}
	}
}

// Desktops & Laptops
@include mediaLg {
	.btn {
		width: 100%;
	}

	#work {
		h1 {
			padding: 2rem;
		}

		h2 {
			padding: 1rem;
			text-align: center;
		}

		.projects {
			p {
				font-size: .9rem;
			}
			img {
				width: 50vw;
			}
		}
	}
}

// Tablets
@include mediaMd {
	main {
		align-items: center;
		text-align: center;

		.heading--large {
			line-height: 1;
			margin-bottom: 1rem;
			font-size: 4rem;
		}

		.heading--small {
			font-size: 1.5rem;
		}
	}

	ul.menu__nav,
	div.menu--branding {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu__nav {
		.nav__link {
			font-size: 24px;
		}
	}

	#work {
		h1 {
			text-align: center;
			padding: 2rem;
		}
		h2 {
			font-size: 2rem;
			padding: 1rem;
		}
		.projects {
			img {
				padding: 0;
				width: 50vw;
			}
			p {
				font-size: .7rem;
			}

			.btn {
				width: 50vw;
			}
		}
	}
	#about {
		h1 {
			padding: 3rem;
		}
		.boxes {
			div {
				font-size: 1.5rem;
			}
		}
	}
}

@include mediaSm {
	main {
		.heading--large {
			font-size: 3rem;
			text-align: center;
			margin: 2rem 0;
		}

		.heading--small {
			font-size: 1rem;
			text-align: center;
		}

		.about {
			&--info {
				.bio {
					font-size: 1rem;
				}
			}

			.icons {
				text-align: center;
			}
		}

		.boxes {
			div {
				border-left: none;
				border-right: none;
				padding: 0;
				margin-bottom: 3rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 1.5rem;
			}
		}

		.btn {
			width: 100%;
		}
	}

	#work {
		h1 {
			padding: 1rem;
		}
		.projects {
			.project {
				display: block;
				border: none;
			}
			img {
				width: 100%;
			}
			p {
				width: 100%;
				padding: 0;
			}

			.item1--desc {
				width: 100%;
				padding: 2rem;
			}

			.item2--desc {
				width: 100%;
				padding: 2rem;
			}

			.item3--desc {
				width: 100%;
				padding: 2rem;
			}

			.btn {
				width: 100%;
			}
		}
	}

	#about {
		h1 {
			padding: 1rem;
			text-align: center;
		}
	}

	.menu {
		&__nav {
			height: 100vh;
		}
	}
}

@include mediaLandMd {
	#work {
		h1 {
			text-align: center;
		}
		h2 {
			padding: 1rem;
			font-size: 2rem;
		}
		.projects {
			p {
				font-size: 1rem;
			}
		}
	}
}

@include mediaLandSm {
	#work {
		h2 {
			padding: 1rem;
			font-size: 2rem;
		}
		.projects {
			p {
				font-size: .75rem;
			}
		}
	}
}
